# server settings
HOST=
PORT=

# postgres settings
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# auth settings
ACCESS_TOKEN_KEY=
ACCESS_TOKEN_AGE=
REFRESH_TOKEN_KEY=

# rabbitmq settings
RABBITMQ_SERVER=

# redis settings
REDIS_SERVER=